extends ../layouts/root.pug

include ../../components/sections/intro
include ../../components/sections/short-about
include ../../components/sections/about
include ../../components/sections/team
include ../../components/sections/contacts
include ../../components/sections/contact-form

block content
  main(class="col-span-full grid grid-cols-subgrid space-y-[10rem]")
    +intro
    +short-about("Исследуем людей и&nbsp;их&nbsp;потребности, чтобы предложить не&nbsp;просто коробку", "&laquo;Депо&raquo;&nbsp;&mdash; это команда профессионалов, нацеленных на&nbsp;создание качественного жилья. Наш приоритет&nbsp;&mdash; строительство современных многоэтажных домов, которые будут служить вам долгие годы. Мы&nbsp;уделяем особое внимание качеству материалов и&nbsp;выполняемых работ, чтобы обеспечить комфорт и&nbsp;безопасность наших клиентов. Доверьтесь нам, и&nbsp;мы&nbsp;построим дом вашей мечты.")(
      class="!mt-[5rem]"
    )
    +about(true)(class="!mt-[3.5rem]")
    +team
    +contacts
    +contact-form
