extends ../layouts/root

include ../../components/breadcrumbs
include ../../components/sections/apartment-detail
include ../../components/sections/contacts
include ../../components/sections/contact-form

block content
  main(class="col-span-full grid auto-rows-max grid-cols-subgrid space-y-20")
    +breadcrumbs([{href: "/", label: "Главная"}, {href: 'project-detail.html', label: "Дом на Кленова"}, {href: "apartments.html", label: "Квартиры"}], "Квартира №12325")(
      class="col-[main] ~mt-6/12"
    )
    +apartment-detail(class="!~mt-8/20")
    +contacts
    +contact-form
