extends ../layouts/root.pug

include ../../components/sections/contacts
include ../../components/sections/sales-office-info
include ../../components/sections/contact-form

block content
  main(class="col-span-full grid grid-cols-subgrid")
    +contacts(true)
    +sales-office-info(class="!mt-12")
    +contact-form(class="!mt-12")
