extends ../layouts/root

include ../../components/sections/facility-hero
include ../../components/breadcrumbs
include ../../components/sections/short-about
include ../../components/sections/facility-detail-examples
include ../../components/sections/genplan
include ../../components/sections/facility-table-details
include ../../components/sections/contacts
include ../../components/sections/contact-form

block content
  main(class="col-span-full grid grid-cols-subgrid ~space-y-16/[7.5rem]")
    +facility-hero
    +breadcrumbs([{href: '/', label: "Главная"}, {href: "project-detail.html", label: "Дом на Кленова"}], "Коммерческие помещения")(
      class="col-[main]"
    )
    +short-about("Высокая проходимость и&nbsp;отдельный вход", "Расположенный в&nbsp;живописном районе с&nbsp;видом на&nbsp;сквер и&nbsp;городские пейзажи, этот дом предоставляет уникальную возможность вести бизнес в&nbsp;спокойной и&nbsp;вдохновляющей атмосфере. Благодаря удобному расположению, клиенты и&nbsp;партнёры смогут легко добраться до&nbsp;вашего офиса, не&nbsp;тратя время на&nbsp;долгие поездки.")(
      class="!mt-8"
    )
    +facility-detail-examples
    +genplan
    +facility-table-details
    +contacts
    +contact-form
