extends ../layouts/root.pug
include ../../components/sections/projects
include ../../components/sections/contacts
include ../../components/sections/contact-form

block content
  main(class="col-span-full grid grid-cols-subgrid ~space-y-24/40")
    +projects(true)(class="~mt-8/20")
    +contacts
    +contact-form(class="!~mt-16/[7.5rem]")
