@use "fonts"
@use "utils" as utils
@use "libs"

@tailwind base
@tailwind components
@tailwind utilities

@layer base
  body
    @apply bg-background text-text-background font-sans

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  input[type=number]
    -moz-appearance: textfield

  .noUi-connects
    position: absolute
    top: 50%
    translate: 0 -50%
    height: 2px

    @apply bg-muted

  .noUi-connect
    @apply bg-secondary

  .noUi-horizontal .noUi-handle
    height: 0.625rem
    width: 0.625rem
    top: 0
    cursor: pointer
    border: 0
    border-radius: 0
    box-shadow: none
    border-radius: 50%
    background-color: transparent

    &.noUi-handle-lower
      right: -0.34rem

    &.noUi-handle-upper
      right: -0.28rem

    &:after
      display: none

    &::before
      inset: -10px
      width: auto
      border-radius: 50%
      height: auto
      scale: 0
      @apply bg-secondary/10 transition-all duration-300

    &:hover
      &::before
        scale: 0.5

    &:focus
      outline: 0

    &:focus-visible
      &:before
        scale: 0.5

    &.noUi-active
      &::before
        scale: 1

  .noUi-touch-area
    border-radius: 50%
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%)
    @apply bg-secondary

  .choices
    margin-bottom: 0
    z-index: 20
    // overflow: visible

  .choices__inner
    background-color: transparent
    border: 0
    border-radius: 0
    padding: 0
    font-weight: 500
    min-height: 0
    height: 3rem
    display: inline-flex
    align-items: center
    @apply text-basicL text-primary

  .choices[data-type*=select-one] .choices__inner
    padding-bottom: 0

  .choices[data-type*=select-one]:after
    border: 0
    height: 0.625rem
    width: 1rem
    right: 0
    margin-top: 0 !important
    translate: 0 -50%
    mask: url('assets/img/arrow-down.svg')
    @apply bg-primary

  .choices.is-open[data-type*=select-one]:after
    rotate: 180deg

  .choices__list--single
    padding: 0 1.875rem 0 0
    padding-left: 0

  .choices__list--dropdown, .choices__list[aria-expanded]
    max-width: 300px
    border-radius: 0 !important
    border-color: theme('colors.muted.DEFAULT')
    // opacity: 0
    // visibility: hidden
    // translate: 0 -20px
    // display: block
    // transition: 300ms ease

  // .choices__list--dropdown, .choices__list[aria-expanded='true']
  //   opacity: 1
  //   visibility: visible
  //   translate: 0

  .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item
    font-size: 1rem
    width: 100%

@layer utilities
  .main-container
    display: grid
    grid-template-columns: utils.calc-clamp(1rem, 3rem, 640, 1536) [main-start] repeat(24, 1fr) [main-end] utils.calc-clamp(1rem, 3rem, 640, 1536)
    grid-auto-rows: max-content

  .max-container
    width: 100%
    max-width: 120rem
    margin-inline: auto

@layer components
  .button
    display: inline-flex
    align-items: center
    justify-content: center
    height: 4rem
    padding-inline: 3rem
    @apply bg-primary text-text-foreground

    &:disabled
      @apply bg-muted

    &:focus
      outline: none

    &:focus-visible
      @apply ring ring-primary

    &--ghost
      background-color: transparent
      @apply text-primary

    &--outlined
      background-color: transparent
      @apply border border-primary text-secondary

    &--lg
      height: 5.125rem

    &--icon
      width: 4rem
      height: 4rem
      padding: 0

      &-lg
        width: 5.125rem
        height: 5.125rem
        padding: 0

      &-md
        width: 2rem
        height: 2rem
        padding: 0
