@use "fonts"
@use "utils" as utils
@use "libs"

@tailwind base
@tailwind components
@tailwind utilities

@layer base
  body
    @apply bg-background text-text-background font-sans

@layer utilities
  .main-container
    display: grid
    grid-template-columns: [padding-left-start] utils.calc-clamp(1rem, 3rem, 640, 1536) [padding-left-end main-start] repeat(24, 1fr) [main-end padding-right-start] utils.calc-clamp(1rem, 3rem, 640, 1536) [padding-right-end]
    grid-auto-rows: max-content

  .max-container
    width: 100%
    max-width: 120rem
    margin-inline: auto
