mixin project-features-slider
  section(class="col-span-full mt-[10rem] grid grid-cols-subgrid")&attributes(attributes)
    div(
      class="col-[main] flex flex-wrap items-end justify-between gap-x-6 gap-y-2 ~mb-8/12"
    )
      h2(class="text-h2 font-medium text-brand") Благоприятная жизнь
        br
        | в пределах дома
    div(class="grid grid-cols-subgrid")
