mixin short-about
  section(class="col-[main] !mt-[7.5rem] grid grid-cols-subgrid items-center")
    h1(class="col-[main] mb-8 text-h1 text-brand md2:col-[main/span_8] md2:mb-0") Нам доверяют строить будущее!
    p(class="col-[main] text-basicL text-text-background md2:col-[span_12/main]") Мы&nbsp;&mdash; компания &laquo;Депо&raquo;, строим жилые дома и&nbsp;коммерческие помещения в&nbsp;Барнауле. Наш приоритет&nbsp;&mdash; учитывать потребности клиентов и&nbsp;создавать объекты, которые им&nbsp;действительно нужны.
