mixin short-about(title, text)
  section(class="col-[main] grid grid-cols-subgrid items-baseline")&attributes(attributes)
    h1(class="col-[main] mb-8 text-h1 text-brand md2:col-[main/span_8] md2:mb-0")!= title
    p(class="col-[main] text-basicL text-text-background md2:col-[span_12/main]")!= text
