mixin short-about
  section(class="col-[main] my-[7.5rem] grid grid-cols-subgrid items-center")
    h1(class="text-h1 text-brand md2:col-span-8 md2:mb-0 col-[main] mb-8") Нам доверяют строить будущее!
    p(class="text-basicL md2:col-[12/main] col-[main] text-text-background") Мы &mdash;&mdash; компания &laquo;Депо&raquo;, строим жилые дома и&nbsp;коммерческие помещения в&nbsp;Барнауле. Наш приоритет&nbsp;&mdash; учитывать потребности клиентов и&nbsp;создавать объекты, которые им&nbsp;действительно нужны.
