extends layouts/root.pug

block content
  main(class="col-span-full grid grid-cols-subgrid")
    section(class="col-[main] grid min-h-svh grid-cols-subgrid") section
    section(class="col-[main] grid min-h-svh grid-cols-subgrid") section
