extends layouts/root.pug
include ../components/projects-slider

block content
  main(class="col-span-full grid grid-cols-subgrid")
    +projects-slider
    section(class="col-[main] grid min-h-svh grid-cols-subgrid") section
