mixin breadcrumbs(prevPages, currentPage)
  ul(class="flex flex-wrap items-center gap-x-2 text-muted")&attributes(attributes)
    each link in prevPages
      li(class="flex items-center gap-x-2 after:inline-block after:content-['/']")
        a(href=link.href)!= link.label
    span(class="text-secondary")!= currentPage
