mixin button(variant="default", size="default", asLink=false)
  if asLink
    a(
      class="inline-flex items-center justify-center text-basicL focus:outline-none focus-visible:ring focus-visible:ring-primary",
      class={"bg-primary disabled:bg-muted text-text-foreground": variant == "default", "text-primary": variant == "ghost", "h-16 px-12": size == "default", "h-[5.125rem] px-12": size == "lg", "h-16 w-16": size == "icon", "h-[5.125rem] w-[5.125rem]": size == "icon-lg", "h-8 w-8": size == "icon-md"}
    )&attributes(attributes)
      block
  else
    button(
      class="inline-flex items-center justify-center text-basicL focus:outline-none focus-visible:ring focus-visible:ring-primary",
      class={"bg-primary disabled:bg-muted text-text-foreground": variant == "default", "text-primary": variant == "ghost", "h-16 px-12": size == "default", "h-[5.125rem] px-12": size == "lg", "h-16 w-16": size == "icon", "h-[5.125rem] w-[5.125rem]": size == "icon-lg", "h-8 w-8": size == "icon-md"}
    )&attributes(attributes)
      block
