mixin button(variant="default", size="default")
  - var baseClass = "inline-flex items-center justify-center text-basicL focus:outline-none focus-visible:ring focus-visible:ring-primary";
  - var classVariants = { variant: { default: " bg-primary text-text-foreground disabled:bg-muted", outline: " text-secondary border border-primary", ghost: " text-primary" }, size: { default: " h-16 px-12", lg: " h-[5.125rem] px-12", icon: " h-16 w-16", "icon-lg": " h-[5.125rem] w-[5.125rem]" } };
  button(class=baseClass+classVariants.variant[variant]+classVariants.size[size])&attributes(attributes)
    block

mixin button-as-link(variant="default", size="default")
  - var baseClass = "inline-flex items-center justify-center text-basicL focus:outline-none focus-visible:ring focus-visible:ring-primary";
  - var classVariants = { variant: { default: " bg-primary text-text-foreground disabled:bg-muted", outline: " text-secondary border border-primary", ghost: " text-primary" }, size: { default: " h-16 px-12", lg: " h-[5.125rem] px-12", icon: " h-16 w-16", "icon-lg": " h-[5.125rem] w-[5.125rem]" } };
  a(class=baseClass+classVariants.variant[variant]+classVariants.size[size])&attributes(attributes)
    block
