include ../../components/header
include ../../components/footer

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles.min.css")
    script(src="main.min.js", defer) 
    title Депо
  body
    div(class="main-container max-container min-h-svh grid-rows-[auto_1fr_auto]")
      +header
      block content
        main content
      block footer
        +footer
