include ../../components/header
include ../../components/burger
include ../../components/footer
include ../../components/call-dialog

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles.min.css")
    script(
      src="https://api-maps.yandex.ru/v3/?apikey=71e8fc54-d8c4-4743-afda-131bde3588f5&lang=ru_RU"
    )
    script(src="main.min.js", defer) 
    title Депо
  body
    div(class="main-container max-container min-h-svh grid-rows-[auto_1fr_auto]")
      +header
      +burger
      block content
        main content
      +footer
      +call-dialog
